body{
    background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 0 0 30px 0;
   
}
.app{
    background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254)86.8%);
    max-width:  400px ;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px;
    padding: 40px;
}

.search-input{
    background: #F9F7FE;
    border-radius: 6px;
    border: none;
    width: 50%;
    padding: 15px 20px;
    font-size: 14px;
}
.submit-button{
    background-color: #5585b5;
    padding: 15px 20px;
    border: none;
    width:35%;
    border-radius: 6px;
    color: white;
    margin-left: 5px;
    font-size: 14px;
}
.temperature-details{
    display: flex;
    justify-content: space-between;
}
.temperature-description{
        color: #6892d5;
}
.temperature{
    font-size: 88px;
    line-height: 88px;
    color: #005689;
}
.unit{
    position: relative;
    bottom: 35px;
    color: #005689;
}
.icon{
    width: 150px;
    height: 88px ;
   
}
.city-date{
    display: flex;
    justify-content: space-between;
    color: #005689;
}
.city{
    font-size: 38px;
    line-height: 48px;
    color: #005689;
}
.date{
   margin-top: 18px;
   font-weight: 500;
   font-size: 20px;
}
footer{
    border-top: 1px solid #F9F7FE;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}
strong{
    color: #3b4a6b;
}
a{
    color:#005689 ;
}